@charset "utf-8";

.footer {padding:30px 10.416%; height : 25vh; background-color :#eeeae3}
footer{}

.lft {width : 66.875%; float : left;margin-top : 15px;}
.lft ul {}
.lft ul li {float : left; font-weight: 500; }
.lft ul li:nth-of-type(1) {width : 28.4267%}
.lft ul li:nth-of-type(2) {width : 20.0155%}
.lft ul li:nth-of-type(3) {width : 51.5578%}
.lft ul li .licont { font-weight: 400; height : 60px; margin-top : 20px; font-size : 14px; color : #3e3e3e;}
.lft ul li .onestop {background:url(../images/call.jpg) no-repeat 0 0;height : 85px; font-size : 0; }
.council {display : none;}



.rght { float : left; width : 33.125%; padding-top : 25px;}
.rght .other_intsitut { font-size : 0; overflow: hidden; width : 200px; float : left; margin-left : 60%;}
.rght .other_intsitut > span{ float : left; width : 100px; height : 102px;  display : inline-block; background-size : 100%;}
.rght .other_intsitut > span:first-child{background:url(../images/banner1.png) no-repeat 0 0; }
.rght .other_intsitut > span:last-child{background:url(../images/banner2.png) no-repeat 0 0; }
.rght .other_intsitut a {display : block; height : 100%;}


.rght .sns{ float : right;}
.rght .sns > span { display : inline-block; width : 36px; height : 36px; background: url(../images/sns2.png) no-repeat 0 0; font-size : 0; }
.rght .sns > span.face{ background-position : 0 -36px }
.rght .sns > span.insta{ background-position : 0 -72px; }
.rght .sns > span a{ display : block; height : 100%;  }


.copy {float : left; font-size : 12px; color : #adadad; margin-top : -15px;}

